.el-input__wrapper {
  // background-color: #34495e !important;
  padding: 5px 16px;
  box-shadow: 1 0 1px #c0c4cc;
  .el-input__inner {
    color: #000;
    padding-left: 5px;
  }
}

.el-header {
  --el-header-padding: none;
  height: 84px;
}

.el-main {
  margin-top: 15px;
}

.el-card {
  height: calc(100vh - 200px);
}