@import './element.scss';
@import './mine.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', '仿宋', Times, serif;
  font-size: 17px !important;
}

a {
  text-decoration: none;
  color: #000;
}